Flask==2.3.2
flask_bcrypt==1.0.1
Flask_Login==0.6.3
flask_sqlalchemy==3.1.1
flask_wtf==1.2.2
numpy>=1.26.0,<2.0.0
pandas==2.2.3
plotly==5.22.0
Requests==2.32.3
scikit_learn==1.4.2
tensorflow
tensorflow_intel
WTForms==3.2.1
